
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
    </style>
</head>
<body>







 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<h1>ALL Questions List</h1>
<table>
  <tr>
  <th>ID</th>
    <th>Question</th>
    <th>Asked By</th>
    <th></th>
    <th></th>
  </tr>
<% @questions.each do |question| %>
  <tr>
  <td><%= question.id %></td>
    <td><%= question.question %></td>
    <td><%= question.askedby %></td>
        <td><%= link_to 'Show Answer',users_show_answer_path(question.id) %></td>
    <td><%= link_to 'Give Answer',users_give_answer_path(question.id) %>     </td>
  </tr>
<% end %>
</table>











   <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Ask Question</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                   <% if current_user && current_user.id %>
<%= form_for :question do |f| %>
<%= current_user.id %>
  <div class="field">
    <%= f.label :Question %><br />
    <%= f.text_area :question %>
  </div>
  <%= person =current_user.name %>
 <%= f.hidden_field 'askedby', :value => current_user.name %>
   <div class="actions">
    <%= f.submit 'Post Question'%>
  </div>
    <% end %>
  <% else %>
<script type="text/javascript">
    window.location.href='../login'  // put your correct path in a string here
  </script>
  <% end %>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Give Answer</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                 
                </div>
            </div>
        </div>

        </div>
        </div>
        </body>
        </html>